body {
    background-color: bisque;
}

#img, #open {
    width: 1600px;
    position: absolute;
    z-index: -1;
    top: -300px;
}
.album {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.btn, .btn2 {
    position: absolute  ;
    border: none;
    width: 50px;
    margin-top:210px;
    margin-left: 230px;
}
.btn2 {
    margin-left: -230px;
    margin-top: 200px;
    /* visibility: hidden; */
}
#uploadPreview {
    object-fit: cover;
    background-color: black;
    width: 250px;
    height: 250px;
}
#title {
    margin-left: 35%;
    margin-top: 33%;
    position: absolute;
    /* rotate: 2deg; */
    background-color: #a13f64;
    border: none;
    font-size: 30px;
}
#div1 {
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    border: solid black 3px;
    text-align: center;
    padding-top: 25px;
    margin-top: 80px;
    position: absolute;
    /* rotate: 2deg; */
    margin-left: 43%
}
.nav {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
    /* min-height: 100vh; */
    width: 400px;
    height: 70px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 600px;
}
:root 
{
    --clr : #222327;
}
.nav ul {
    display: flex;
    width: 350px;
}
.nav ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.nav ul li div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.nav ul li div .icon{ 
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);    
}
.nav ul li:hover div .icon{
    transform: translateY(-35px);
} 
.nav ul li div .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
} 
.nav ul li:hover div .text{
    opacity: 1;
    transform: translateY(10px);
} 
#bruh {
    position: absolute;
    position:fixed;
    left: 50%;
    top:  50%;
    transform:translate(-50%,-50%);
    z-index: 1000;
    visibility : hidden;
    max-width:600px;
    max-height: 600px;
}
#br {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    position: fixed;
    width: 100%;
    left: 0px;
    height: 1000px;
    top: 0%;
    visibility: hidden;
}
#br2 {
    position: absolute;
    top: 550px;
    width: 100px;
    height: 50px;
    position: fixed;
    visibility: hidden;
}
#editor div {
    background-color: #fff;
    padding: 10px;
    border: 3px solid black;
    position: absolute;
    visibility: hidden;
}
#color-bg {
    width: 200px;
    height: 70px;
}
#edit {
    width: 700px;
    height: 500px;
    bottom: -300px;
    position: absolute;
}
#editor {
    position: absolute;
    margin-left: 10px;
    top: 300px;
}
#exit, #exit2 {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff;
    padding: 5px;
    font-size: 25px;
}
#exit:hover, #exit2:hover {
    background-color: red;
    transition-duration: 0.3s;
}
.arrow {
    background-color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius:100%;

}
.shrink {
    width: 20px;
}
.hide {
    visibility: hidden;
}
.ar {
    transform: rotate(180deg);
    margin-right: 365px;
}
.add {
    visibility: visible;
}
.remove{
    visibility: hidden;
}
#btn3 {
    margin-top: 235px;
    visibility: hidden;
    z-index: 1000;
    right: 515px;
}
#btn4 {
    visibility: hidden;
    z-index: 1000;
}
#btn2 {
    visibility: hidden;
}
.iw2, .iw3, .iw4, .iw5 {
    height: 290px;
    width: 300px;
    background-color: whitesmoke;
    border: solid black 3px;
    text-align: center;
    padding-top: 25px;
    position: absolute;
    top: 120px;
    right: 275px;
    rotate: 2deg;
    visibility: hidden;   
    z-index: 100;
}
.iw1 {
    height: 290px;
    width: 300px;
    background-color: whitesmoke;
    border: solid black 3px;
    text-align: center;
    padding-top: 25px;
    position: absolute;
    top: 120px;
    right: 275px;
    rotate: 2deg;
}
#img1, #img2, #img3, #img4, #img5 {
    width:250px;
    height: 250px; 
    object-fit: cover;
    background-color: black;
}
#addicon {
    border: none;
    font-size: 10px;
   
    background: none;
    height: 200px;
    width: 200px;
    text-align: center;
    
    position: absolute;
    top: 190px;
    right: 330px;
    rotate: 2deg;
    z-index: 100;
}